    <mtapp:setting
        id="googlemap_api_key"
        label="<__trans phrase="Google Map API Key.">">
    <ul>
    <li><input type="text" value="<mt:var name="googlemap_api_key" escape="HTML">" name="googlemap_api_key" id="googlemap_api_key" style="width:470px" /></li>
    </ul>
    </mtapp:setting>